<p>
  <%= @attacker %> attacked <%= @being_attacked_name %>!
</p>
<p>
  <%= @being_attacked_name %>: <%= @being_attacked_hit_points %>HP
</p>
<form action="/play">
  <input type="submit" value="Return to play" />
</form>
