<p><%= $game.player_1.name %> v <%= $game.player_2.name %></p>
<p><%= $game.player_2.name %>: <%= $game.player_2.hit_points %>HP</p>
<form action="/attack">
  <input type="submit" value="Attack" />
</form>
